.questionCard{
  width: 90%vw;
  min-height: 60%;
}

.p-card .p-card-body{
  padding: 0.5rem;
}

.p-card .p-card-content {
  padding: 0.25rem 0;
}

.headerContent{
  padding: 0.5rem;

  .q-proof{
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--gray-800);
  }

  .q-question{
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--gray-800);
  }

}

.footerInfo{
  width: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.footerMenu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  i{
    cursor:  pointer;
  }
}

.my-txt-justification{
  padding: 0.25rem;
}

.questionBobdy {

  padding: 0 0.75rem;

  .questionUtterance{
    p{
      text-align: justify;
      font-size: 1rem;
      font-weight: 600;
      color: var(--gray-800);
    }
  }
  
  .questionOptions{
    padding: 0 0.5rem;
  } 
}

.wrongAnswer {
  background: #F4B6B6;
  border: 1px solid #E38787;
  border-radius: 2rem;
}

.correctAnswer {
  color: #323E39;
  background: #A3E2C6;
  border: 1px solid #80CAAA;
  border-radius: 2rem;
}

.p-field-radiobutton{
  padding: 0.25rem;
}